<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app id="admatic">

	<display-name>Evento</display-name>

	<classpath compile="false" id="/WEB-INF/classes"
		source="/WEB-INF/classes" />
	<classpath library-dir="/WEB-INF/lib" />
	<classpath library-dir="/WEB-INF/classes" />

    <!-- 
	<servlet>
		<servlet-name>REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.admatic.services</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	 -->
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

	<!-- error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
		</error-page-->

</web-app>